extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        
        h1 Paul Rodoslavov

        p.lead.text-light
          | Full Stack Java Script Developer.

        .portfolio-bio
          p A fast learner dedicated to building and optimizing the performance of user-centric, high-impact websites in a growing dynamic environment. Leverage technical, analytical and problem-solving skills to create efficient, high speed websites and platforms fueling competitive advantage and revenue growth.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML5
          li CSS3
          li SASS
          li Bootstrap 4
          li Java Script
          li jQuery
          li React.js
          li Node.js 
          li Express
          li Atom
          li Git
        h6 Contact Info
        
        ul
          li 253-670-0907
          li 
            a(href='mailto:rodoslavov.paul@gmail.com') rodoslavov.paul@gmail.com

        a.button.expanded(href='https://github.com/PaulRodoslavov') LinkedIn
        a.button.expanded(href='https://github.com/PaulRodoslavov') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
