extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        
        h1 Paul Rodoslavov

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p I am fast learner dedicated to building and optimizing the performance of user-centric, high-impact websites in a growing dynamic environment. Posses technical, analytical and problem-solving skills to create efficient, high speed websites and platforms fueling competitive advantage and revenue growth.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Java Script
          li jQuery
          li React.js
          li Node.js 
          li MongoDB
          li SQLite
          li HTML5
          li CSS3
          li SASS
          li Bootstrap 4
        h6 Contact Info
        
        ul
          li 253-670-0907
          li 
            a(href='mailto:rodoslavov.paul@gmail.com') rodoslavov.pavlo@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/paul-rodoslavov-985166140/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/PaulRodoslavov' target='_blank') GitHub
        a.button.expanded(href='/static/other/Pavlo_Rodoslavov.pdf' target='_blank') Resume
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
