extends layout.pug

block content
   article.grid-container.portfolio-intro
      div
         h1 Welcome to My Portfolio!

         p.lead.text-light
            | I am creative and ambitious developer with a passion to learn, an attention to detail, and a hunger for success. Experienced in all stages of development from structuring, implementation, testing and deployment. Strong engineering professional, skilled in Javascript ES6, React, Node.js, SQL.   
            br
            br
            |Here are a few examples of my work.
            
   article.grid-container.portfolio-index

      .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3


         each val in projects
            .cell
               a(href=`/project/${val.id}` target='_blank')
                  img.thumbnail(src=`static/${val.image_urls[0]}`)
                  h5= val.project_name
                  
